@font-face {
  font-family: 'AvertaStd-Black';
  src: local('AvertaStd-Black'), url('./assets/fonts/avertaStandard/AvertaStd-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-BlackItalic';
  src: local('AvertaStd-BlackItalic'), url('./assets/fonts/avertaStandard/AvertaStd-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-Bold';
  src: local('AvertaStd-Bold'), url('./assets/fonts/avertaStandard/AvertaStd-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-BoldItalic';
  src: local('AvertaStd-BoldItalic'), url('./assets/fonts/avertaStandard/AvertaStd-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-ExtraBold';
  src: local('AvertaStd-ExtraBold'), url('./assets/fonts/avertaStandard/AvertaStd-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-ExtraBoldItalic';
  src: local('AvertaStd-ExtraBoldItalic'), url('./assets/fonts/avertaStandard/AvertaStd-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-Extrathin';
  src: local('AvertaStd-Extrathin'), url('./assets/fonts/avertaStandard/AvertaStd-Extrathin.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-ExtrathinItalic';
  src: local('AvertaStd-ExtrathinItalic'), url('./assets/fonts/avertaStandard/AvertaStd-ExtrathinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-Light';
  src: local('AvertaStd-Light'), url('./assets/fonts/avertaStandard/AvertaStd-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-LightItalic';
  src: local('AvertaStd-LightItalic'), url('./assets/fonts/avertaStandard/AvertaStd-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'AvertaStd-Regular';
  src: local('AvertaStd-Regular'), url('./assets/fonts/avertaStandard/AvertaStd-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AvertaStd-RegularItalic';
  src: local('AvertaStd-RegularItalic'), url('./assets/fonts/avertaStandard/AvertaStd-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-Semibold';
  src: local('AvertaStd-Semibold'), url('./assets/fonts/avertaStandard/AvertaStd-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-SemiboldItalic';
  src: local('AvertaStd-SemiboldItalic'), url('./assets/fonts/avertaStandard/AvertaStd-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-Thin';
  src: local('AvertaStd-Thin'), url('./assets/fonts/avertaStandard/AvertaStd-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'AvertaStd-ThinItalic';
  src: local('AvertaStd-ThinItalic'), url('./assets/fonts/avertaStandard/AvertaStd-ThinItalic.ttf') format('truetype');
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, AvertaStd-Black, AvertaStd-BlackItalic, AvertaStd-Bold, AvertaStd-BoldItalic, AvertaStd-ExtraBold, AvertaStd-ExtraBoldItalic, AvertaStd-Extrathin, AvertaStd-ExtrathinItalic, AvertaStd-Light, AvertaStd-LightItalic, AvertaStd-Regular, AvertaStd-RegularItalic, AvertaStd-Semibold, AvertaStd-SemiboldItalic, AvertaStd-Thin, AvertaStd-ThinItalic;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  /* min-height: 115vh; */
  background-color: var(--mui-palette-background-paper);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home {
  max-width: 800px;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: var(--mui-palette-border-border);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}